body {
  margin: 0px;
}

h1 {
  font-family: "Montserrat";
}

.post-container {
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
  background-color: #fffafa;
}

.post-container .date {
  font-family: "Roboto";
  color: #008080;
}

.post-container div.post-content {
  width: 90%;
  font-family: "Open Sain";
  font-weight: normal;
}

.post-container div.post {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: normal;
}
